		
html{
	-webkit-user-select: none;
}

p {
	font-size: 1.5rem;
	color: #546E7A;
	text-align: center;
	margin: 1em 0;
}

figure {
	height: 200px;
	text-align: center; 
}

figure > img {
	height: 100%;
	border: 6px solid #78909C;
	border-radius: 50%;
}

main {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 20%;
}

main > article {
	box-shadow: 0 0 10px 1px lightgrey;
}

main {
	padding: 0 20px;
}

main > article {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bouton_achat{
	margin-bottom: 10px;
}

.bouton_achat > button {
	margin-top:2px;
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: white;
	border-color: #546E7A;
	color: #546E7A;
	padding: 15px 32px;
	font-size: 16px;
}

.bouton_upgrade > button {
	margin-top:2px;
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: white;
	border-color: #546E7A;
	color: #546E7A;
	padding: 15px 32px;
	font-size: 16px;
}

main > article figure {
	position: relative;
}









