		
html{
	-webkit-user-select: none;
}

h1, h2, h3, p {
	margin: 1em 0;
}

h1 {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
	color: #37474F;
	text-align: center;
}

p {
	font-size: 1.5rem;
	color: #546E7A;
	text-align: center;
}

article {
	box-sizing: border-box;
}

figure {
	height: 200px;
	text-align: center; 
}

figure > img {
	height: 100%;
	border: 6px solid #78909C;
	border-radius: 50%;
}

main {
	display: grid;
	grid-gap: 20px;
}

main > article {
	box-shadow: 0 0 10px 1px lightgrey;
}

main {
	padding: 0 20px;
}

main > article {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

button {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: white;
	border-color: #546E7A;
	color: #546E7A;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	box-shadow: 0 1px 10px 1px lightgrey;
}
main {
	margin-top: 120px;
}

main > article figure {
	position: relative;
}









